# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore JetBrains IDE files 
.idea/
*.iml
out/

# Ignore VSCode IDE files
.project
.vscode

# Ignore Maven build directory
target/
